<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{echo $seo->getDescription()}}">
    <meta name="author" content="{{echo $seo->getAuthor()}}"> 
    <title>{{echo $seo->getTitle()}}</title>

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet" type="text/css">
    <!-- Css files -->
    <!-- Icons -->
    <link href="{{echo CDN}}css/icons.css" rel="stylesheet" />
    <!-- Bootstrap stylesheets (included template modifications) -->
    <link href="{{echo CDN}}css/bootstrap.css" rel="stylesheet" />
    <!-- Plugins stylesheets (all plugin custom css) -->
    <link href="{{echo CDN}}css/plugins.css" rel="stylesheet" />
    <!-- Main stylesheets (template main css file) -->
    <link href="{{echo CDN}}css/main.css" rel="stylesheet" />
    <!-- Custom stylesheets ( Put your own changes here ) -->
    <link href="{{echo CDN}}css/custom.css" rel="stylesheet" />
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{echo CDN}}img/ico/apple-touch-icon-144-precomposed.png.html">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{echo CDN}}img/ico/apple-touch-icon-114-precomposed.png.html">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{echo CDN}}img/ico/apple-touch-icon-72-precomposed.png.html">
    <link rel="apple-touch-icon-precomposed" href="{{echo CDN}}img/ico/apple-touch-icon-57-precomposed.png.html">
    <link rel="icon" href="{{echo CDN}}img/ico/favicon.ico.html" type="image/png">
    <!-- Windows8 touch icon ( http://www.buildmypinnedsite.com/ )-->
    <meta name="msapplication-TileColor" content="#3399cc" />
      
</head>
    <body class="login-page">
        <div id="header" class="animated fadeInDown">
            <div class="row">
                <div class="navbar">
                    <div class="container text-center">
                        <a class="navbar-brand" href="/home">Omanzo.<span class="slogan">admin</span></a>
                    </div>
                </div>
                <!-- /navbar -->
            </div>
            <!-- End .row -->
        </div>
        <!-- End #header -->
        {{ayield action}}
        <div class="container">
            <div class="footer">
                <p class="text-center">&copy;2015 Copyright Omanzo.admin. All right reserved !!!</p>
            </div>
        </div>
        <!-- Javascripts -->
        <!-- Important javascript libs(put in all pages) -->
        <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script>
        window.jQuery || document.write('<script src="{{echo CDN}}assets/js/libs/jquery-2.1.1.min.js.html">\x3C/script>')
        </script>
        <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <script>
        window.jQuery || document.write('<script src="{{echo CDN}}assets/js/libs/jquery-ui-1.10.4.min.js.html">\x3C/script>')
        </script>
        <!--[if lt IE 9]>
            <script type="text/javascript" src="js/libs/excanvas.min.js"></script>
            <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <script type="text/javascript" src="js/libs/respond.min.js"></script>
        <![endif]-->
        <!-- Bootstrap plugins -->
        <script src="{{echo CDN}}js/bootstrap/bootstrap.js"></script>
        <!-- Form plugins -->
        <script src="{{echo CDN}}plugins/forms/validation/jquery.validate.js"></script>
        <script src="{{echo CDN}}plugins/forms/validation/additional-methods.min.js"></script>
        <!-- Init plugins olny for this page -->
        <script src="{{echo CDN}}js/pages/login.js"></script>
    </body>
</html>
