<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{echo $seo->getDescription()}}">
    <meta name="author" content="{{echo $seo->getAuthor()}}"> 
    <title>{{echo $seo->getTitle()}}</title>
    <!-- FontsOnline -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans:400,500,700,800,900,300,100' rel='stylesheet' type='text/css'>
    <!-- StyleSheets -->
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{{echo CDN}}css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="{{echo CDN}}css/font-awesome.min.css">
    <link rel="stylesheet" href="{{echo CDN}}css/main.css">
    <link rel="stylesheet" href="{{echo CDN}}css/style.css">
    <link rel="stylesheet" href="{{echo CDN}}css/responsive.css">
    <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
    <link rel="stylesheet" type="text/css" href="{{echo CDN}}rs-plugin/css/settings.css" media="screen" />
    <!-- JavaScripts -->
    <script src="{{echo CDN}}js/vendors/modernizr.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
    <body>
        <!-- LOADER ===========================================-->
<div id="loader">
  <div class="loader">
    <div class="position-center-center">
      <div id="preloader6"></div>
    </div>
  </div>
</div>
<div id="wrap"> 
        {{include layouts/navigation/header.html}}
        {{ayield action}}
        {{include layouts/navigation/footer.html}}
</div>
<!-- JavaScripts --> 
<script src="{{echo CDN}}js/vendors/jquery/jquery.min.js"></script> 
<script src="{{echo CDN}}js/vendors/wow.min.js"></script> 
<script src="{{echo CDN}}js/vendors/bootstrap.min.js"></script> 
<script src="{{echo CDN}}js/vendors/own-menu.js"></script> 
<script src="{{echo CDN}}js/vendors/flexslider/jquery.flexslider-min.js"></script> 
<script src="{{echo CDN}}js/vendors/jquery.countTo.js"></script> 
<script src="{{echo CDN}}js/vendors/jquery.isotope.min.js"></script> 
<script src="{{echo CDN}}js/vendors/jquery.bxslider.min.js"></script> 
<script src="{{echo CDN}}js/vendors/owl.carousel.min.js"></script> 
<script src="{{echo CDN}}js/vendors/jquery.sticky.js"></script> 

<!-- SLIDER REVOLUTION 4.x SCRIPTS  --> 
<script type="text/javascript" src="{{echo CDN}}rs-plugin/js/jquery.themepunch.tools.min.js"></script> 
<script type="text/javascript" src="{{echo CDN}}rs-plugin/js/jquery.themepunch.revolution.min.js"></script> 
<script src="{{echo CDN}}js/main.js"></script> 
    </body>
</html>
