
        <!-- Start login container -->
        <div class="container login-container">
            <div class="login-panel panel panel-default plain animated bounceIn">
                <!-- Start .panel -->
                <div class="panel-body">
                {{if isset($err_msg)}}
                    <h4>{$err_msg}</h4>
                {{/if}}
                    <form class="form-horizontal" action="/auth/resetPassword"  method="post">
                        <div class="form-group">
                            <div class="col-md-12">
                                <!-- col-md-12 start here -->
                                <label for="">New Password:</label>
                            </div>
                            <!-- col-md-12 end here -->
                            <div class="col-lg-12">
                                <div class="input-group input-icon">
                                    <input type="password" name="password"  class="form-control" value="" placeholder="Your password" {{if isset($err_msg)}} disabled="true" {{/if}}>
                                    <span class="input-group-addon"><i class="icomoon-icon-lock s16"></i></span> 
                                </div>
                                {{if isset($err_msg)}}
                                <span class="help-block text-right"><a href="/auth/forgotpassword">Request New Token</a></span> 
                                {{/if}}
                            </div>
                        </div>
                        <input type="hidden" name="_email" value="{$email}">
                        <input type="hidden" name="_token" value="{$token}">
                        <input type="hidden" name="reset" value="_mail">
                        <div class="form-group mb0">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-4 mb25">
                                <button class="btn btn-default pull-right" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <!-- End .panel -->
        </div>
        <!-- End login container -->
        